<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Mario Lambertucci</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Senior SEO Specialist</li><li><a class="u-email" href="mailto:fernando@visualcosita.com">mariolambertucci@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://linkedin.com/in/mariolambertucci/"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">mariolambe</span></a></li><li><a href="https://www.twitter.com/mariolambe"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">mariolambe</span></a></li></ul>
</div>
      
      
      
          <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Top Resources</li>
          <li><a ref="https://www.mariolambertucci.com/seo/2021/03/15/how-to-extract-urls-from-sitemaps.html"How To Extract URLs from Sitemaps</a></li></ul>
      </div>

      
      <div class="footer-col footer-col-3">
        <p></p>
<ul>
  <li>How To Extract URLs from Sitemaps</li>
  <li>How To Extract URLs from Webpages</li>
</ul>
      
      
      </div>
      
      

      <div class="footer-col footer-col-4">
        <p>"The person who writes for fools is always sure of a large audience."</p>
      </div>
    </div>

  </div>

</footer>
